{% extends "appcmis/base.html" %}

{% block title %}
pm_view
{% endblock %}

{% block content %}
<div class="container my-4">
     

    <div class="card mb-3">
        <div class="card-header navbar text-white">เอกสารคำสั่งคุ้มครองสวัสดิภาพ</div>
        <div class="card-body text-center">
            <p>เอกสารคำสั่งคุ้มครองสวัสดิภาพ</p>
        </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-start mt-4 mb-5">
        <button class="btn btn-dark me-2">ย้อนกลับ</button>
    </div>
</div>
{% endblock %}
